@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: #262525;
}

body {
    width: 100%;
    height: 100vh;
}

.portfolio-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
}

.navlist {
    display: flex;
    gap: 3.5rem;
    height: 15vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    overflow: hidden;
    top: 0;
    /* Position the navbar at the top of the page */

}

.navlist li {
    list-style: none;
}

.navlist li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    color: #fff;
    position: relative;

}

.left-container,
.right-container {
    height: 100vh;
    display: flex;
    align-items: center;
}

.left-container {
    background: #262525;
    width: 70%;
    padding-left: 3rem;
}

.right-container {
    background: linear-gradient(45deg, #3877ff, #262525 70%);
    width: 30%;
}

.icons .fa-brands {
    color: #bbb;
    font-size: 2rem;

}

.icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

}

.content {
    margin-left: 4rem;
}

.content .intro {
    font-size: 1.5rem;
    color: #fff;
}

.content .intro span {
    color: #5db9ee;
}

.content h1 {
    font-size: 4rem;
    color: #5db9ee;
}

.content .detail {
    font-size: 1rem;
    color: #fff;
    max-width: 38rem;
    margin: 1.1rem 0 3rem 0;
    line-height: 1.8rem;
}

.btn-container button {
    border: .1rem solid #5db9ee;
    font-size: 1.1rem;
    padding: .8rem 1.5rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: .5s ease;

}

button:nth-child(1) {
    background: #5db9ee;
    color: #262525;
}

button:nth-child(2) {
    background: transparent;
    color: #5db9ee;
    margin-left: 2rem;
}

button:nth-child(1):hover {
    background: transparent;
    color: #5db9ee;
}

button:nth-child(2):hover {
    background: #5db9ee;
    color: #262525;
}

.icons .fa-brands:hover {
    cursor: pointer;
    background: linear-gradient(#fff, #3877ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.design .circle {
    aspect-ratio: 1;
    position: absolute;
    border-radius: 20%;
    top: 55%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.circle:nth-child(1) {
    background: linear-gradient(90deg, transparent 50%, #262525 50%);
    width: 35rem;
}

.circle:nth-child(2) {
    background-image: url("image-p.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
    border: .1rem solid #fff;
    box-shadow: 0 0 1rem #fff, inset 0 0 1rem #fff, 0 0 2rem #3877ff, inset 0 0 2rem #3877ff, 0 0 4rem #3877ff, inset 0 0 4rem #3877ff;
}

.navlist li a::after,
.navlist .active::after {
    content: "";
    position: absolute;
    background: #fff;
    width: 100%;
    height: .1rem;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transform-origin: bottom-right;
    transition: transform .5s;
}

.navlist li a:hover::after,
.navlist .active::after {
    transform: scaleX(1);
    transform-origin: bottom-left;
}

h1 {
    text-align: center;

}

h3 {
    margin: 5px;
}

.skill {
    width: 500px;
    margin: 70px auto;
    color: #5db9ee;
    padding: 20px;
    background: #262525;
    box-shadow: 0 24px 30px rgba(116, 190, 225, 0.25), 0 10px 10px rgba(58, 201, 226, 0.22);
}
.skill h1{
    font-size: 50px;
    color: #fff;
    margin-bottom: 15px;
}
.skill h1 span{
    color: #5db9ee;
}

.skill li {
    margin: 20px 0;
    padding: 10px;
    list-style: none;
}

.bar {
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.bar:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bar span {
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgba(9, 121, 116, 100)0%, rgba(12, 202, 232, 100)100%);
}

.html {
    width: 90%;
    animation: html 3s;
}

.css {
    width: 70%;
    animation: css 3s;
}

.php {
    width: 60%;
    animation: php 3s;
}

.java {
    width: 50%;
    animation: java 3s;
}

.Javascript {
    width: 65%;
    animation: javascript 3s;

}

@keyframes html {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

@keyframes css {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

@keyframes php {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }
}

@keyframes java {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}

@keyframes javascript {
    0% {
        width: 0%;
    }

    100% {
        width: 65%;
    }
}

.section{
    padding: 40px 15%;
}

.contact {
    background: #262525;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    grid-gap: 8rem;    

}

.contact-img img {
    max-width: 100%;
    width: 500px;
    height: auto;
    border-radius: 10px;
}

.contact-form h1 {
    font-size: 50px;
    color: #fff;
    margin-bottom: 10px;
}

.contact-form span {
    color: #5db9ee;
}

.contact-form p {
    color: #c6c9d8bf;
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

.contact-form form {
    position: relative;

}

.contact-form form input,
form textarea {
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    background: #191919;
    color: #fff;
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
    border-radius: 10px;

}

.contact-form textarea {
    resize: none;
    height: 150px;
}

.contact-form form .btn {
    display: inline-block;
    background: #3877ff;
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600px;
    border: 2px solid transparent;
    border-radius: 10px;
    width: 180px;
    transition: ease .20s;
    cursor: pointer;
}

.contact-form form .btn:hover {
    border: 2px solid #5db9ee;
    background: transparent;
    transform: scale(1.1);
}
@media (max-width: 1570px){
    section{
        padding: 80px 3%;
        transition: .2s;
    }
    .contact-form h1{
       font-size: 60px; 
    }
    .contact-form p{
        margin-bottom: 3rem;
    }
}
@media (max-width: 1090px){
    .contact{
        grid-gap: 2rem;
        transition: .3s;
    }
}
@media (max-width: 1000px){
     .contact{
        grid-template-columns: 1fr;
     }
     .contact-form{
        order: 2;
     }
     .contact-img img{
        max-width: 100%;
        width: 100%;
        height: auto;
        text-align: center;
        margin-bottom: 30px;
     }
}